In [4]:
#since strings are ordered, indexing can be used for it. 

str = 'sanwara'

#slicing a string. [start, stop, step]
print(str[0:4:1])

sanw

In [5]:
str[0]

's'

In [6]:
str[-3]

'a'

In [7]:
str[0::]

'sanwara'

In [9]:
str[:-1:]    #stop is upto but not including kinda

'sanwar'

In [11]:
# Strings are immutable

In [14]:
letter = 'z'
letter*100

'zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz'

In [16]:
#string function
x = 'hope'

In [17]:
x.upper()      #this is not an inplace method i.e it does notaffect the original string

'HOPE'

In [18]:
x

'hope'

In [19]:
#if we want to change the original string, we have to reassign it

x = x.upper()

In [20]:
x

'HOPE'

In [24]:
#split method

strnew = 'I am the master of my fate, i am the master of my soul'
strnew.split('m')       #splits the string at all the places in string where m is present, returns an array of strings

['I a', ' the ', 'aster of ', 'y fate, i a', ' the ', 'aster of ', 'y soul']

In [28]:
#string interpolation
strs = 'this is an important status {}'.format('code inserted') + ' ok'

In [29]:
strs

'this is an important status code inserted ok'

In [34]:
print('My name is {} {} {}'.format('Sawara', 'Jagdish', 'Chandak'))

#can also use indexing.watch closely
print('My name is {2} {0} {1}'.format('Sawara', 'Jagdish', 'Chandak'))

#another way
print('My name is {s} {j} {c}'.format(s='Sawara', j='Jagdish', c='Chandak'))

My name is Sawara Jagdish Chandak
My name is Chandak Sawara Jagdish
My name is Sawara Jagdish Chandak

List

In [1]:
my_list = [10,12,14,16]

my_lists = ['String', 100, 12.6]

In [2]:
#length of list

len(my_list)

4

In [3]:
my_list[0]  #element at specified index

10

In [5]:
my_list[1:]  #slicing (similar to strings)

[12, 14, 16]

In [6]:
my_list.append(90) #adding to the end of list

In [7]:
my_list

[10, 12, 14, 16, 90]

In [10]:
my_list.pop()   #removes and returns last element from list
#  (here, the cell was executed 3 times and everytime an element was removed from end)

14

In [11]:
my_list

[10, 12]

In [12]:
my_lists.pop(0)  #pop at specific index

'String'

In [13]:
new_list = ['a','b','c','d','e','x','r','w']
new_lists = [45,12,32,54,10,2,1,80,5]

In [18]:
new_lists.sort()   #uses timsort with time complexiety of (nlogn). changes the array in place (i.e it returns nothing)

In [19]:
new_lists

[1, 2, 5, 10, 12, 32, 45, 54, 80]

In [20]:
new_list.sort()  #arranges alphabetically

In [21]:
new_list

['a', 'b', 'c', 'd', 'e', 'r', 'w', 'x']

Dictionary

In [22]:
#Dictionary is unsorted and list can be sorted. Dictionary stores key value pairs

In [23]:
my_dict = {'key1' :'value1', 'key2':'value2'}

In [24]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [25]:
my_dict['key1']

'value1'

Tuples

In [1]:
tuple1 = (1,2,3,4,5)

In [2]:
print(tuple1)

(1, 2, 3, 4, 5)

In [4]:
#count occurrences of an element
t = ('a','a','a','b','b')
t.count('a')

3

In [6]:
#first appearance of a
t.index('a')

0

In [8]:
str = 'Mississippi'
myset = set(str)

print(myset)

{'p', 's', 'M', 'i'}